<%- include('includes/head.ejs') %>
<br>
<br>
<h1 class="title">Agregar un botón</h1>
<form action="/zebrand" method="POST">
    <label class="label" for="nombre">Texto del Botón</label>
    <input name="nombre" id="nombre" type="text" class="input"><br>
    <input class="button is-success" type="submit" value="Zebrand">
</form>

<% if (mensaje) { %>
    <div class="notification is-success">
        <button class="delete"></button>
        <%= mensaje %>
    </div>
<% } %>

<!-- Mostrar los botones -->
<% botones.forEach(boton => { %>
    <a href="<%= boton.accion %>" class="button"><%= boton.nombre %></a>
<% }); %>
<br>
<br>
<%- include('includes/foot.ejs') %>
